:root {
  --base0: #2b3235;
  --base1: #394246;
  --base2: #495659;
  --base3: #c7c5bb;
  --base4: #e1dfda;
  --base5: #fcfcfc;

  --red: #ff4b42;
  --orange: #ff831e;
  --yellow: #efbb00;
  --lime: #7ac600;
  --green: #00c609;
  --teal: #0bb792;
  --cyan: #00aeb7;
  --blue: #3d94ff;
  --indigo: #757cff;
  --purple: #ad6bff;
  --magenta: #f542ff;
  --pink: #ff32a3;

  --background: var(--base5);
  --foreground: var(--base1);
  --strong: var(--base0);
  --accent: var(--blue);
  --fade: var(--base3);
  --lowlight: var(--base2);

  --links: var(--blue);
  --hover: var(--purple);
}

html {
  font-size: 11pt;
  font-family: Roboto, sans-serif;
  background: var(--background);
  color: var(--foreground);
}

body {
  box-sizing: border-box;
  margin: auto;
  width: 8.0in;
  padding: 0.25in;
  line-height: 1.5rem;
}

h1 {
  color: var(--strong);
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

h2 {
  color: var(--strong);
  font-size: 1.5rem;
  margin: 1rem 0;
  position: relative;
}

/* horizontal rule behind the header */
h2:after {
  border-top: 1px solid var(--fade);
  content: " ";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0.75rem;
  z-index: -1;
}

/* text layered above the rule */
h2 span {
  padding-right: 1rem;
  z-index: 10;
  background-color: var(--background);
}

#contact {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.petproject,
.degree,
.title {
  font-weight: bold;
  color: var(--strong);
}

.school:before,
.project:before,
.description:before,
.link:before,
.employer:before {
  content: "\002012 ";
  margin: 0.25em;
}

.project {
  font-style: italic;
}

div {
  margin: 0.5rem 0;
}

/* don't need to space these out */
#education div {
  margin: 0;
}

a {
  color: var(--links);
  text-decoration: none;
}

a:hover {
  color: var(--hover);
  text-decoration: underline;
}

a.petproject {
  color: var(--links);
}

a.petproject:hover {
  color: var(--hover);
}

ul {
  margin: 0.5rem 0 1rem 0;
  list-style-type: square;
  padding: 0 0 0 1.5rem;
}

ul li {
  margin: 0;
}

#skills ul {
  text-align: left;
  padding: 0;
  margin: 0.5rem 0;
  display:  inline-block;
  list-style: none;
  vertical-align: top;
  border-left: 1px solid var(--fade);
}

#skills ul:first-child {
  border-left: none;
}

#skills ul li {
  margin: 0 1.2rem;
  display: list-item;
}

#skills ul:first-child li {
  margin-left: 0;
}

#skills ul:last-child li {
  margin-right: 0;
}

#skills ul li.strong {
  font-weight: bold;
  color: var(--strong);
  margin-bottom: 0.5rem;
}

time {
  color: var(--lowlight);
  float: right;
}

@media screen {
  .print {
    display: none;
  }
}

/* this looks good on my phone. sucks if it doesn't on yours. */
@media only screen and (max-width: 783px) {
  body {
    width: 100%;
    min-width: 3.4in;
  }
}

@media only screen and (min-width: 500px) and (max-width: 783px) {
  #skills ul {
    width: 30%;
  }

  #skills {
    text-align: center;
  }

  #skills ul:nth-child(4) {
    border-left: none;
  }

  #skills ul:nth-child(4) li {
    margin-left: 0;
  }

  #skills ul:nth-child(7) {
    border-left: none;
  }
}

@media only screen and (max-width: 499px) {
  .school:before,
  .link:before,
  .employer:before {
    display: block;
    content: "";
    margin: 0;
  }

  #skills ul {
    width: 1.7in;
  }

  #skills ul:nth-child(odd) {
    border-left: none;
  }

  #skills ul:nth-child(odd) li {
    margin-left: 0;
  }
}

@media print {
  :root {
    --background: #FFF;
    --links: var(--foreground);
  }

  body {
    line-height: normal;
    padding: 0in;
    height: 9in;
  }

  h1 {
    /* feels low, but it makes it look alright /shrug */
    line-height: 1rem;
  }

  h2 {
    font-size: 1.3rem;
    margin: 0;
  }

  div {
    margin: 0.4rem 0;
  }

  ul {
    margin: 0.2rem 0;
  }
}
